@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Nossos Produtos</h1>

    <div class="row justify-content-start">
        @if (Model.products.Any()){
            @foreach (var product in Model.products)
            {
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm product-card">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">@product.Name</h4>
                        </div>
                        <div class="card-body">
                            <p>@product.Description</p>
                            <h4 class="my-2 fw-normal">R$ @product.Price</h4>
                            <a href="/Order" class="btn btn-primary">Realizar Pedido</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
